/* .skill-progress {
  height: 8px;
  border-radius: 16px;
}

.skill-bar {
  background: #ddd;
  border-radius: 16px;
  height: 8px;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 10px 0;
}

.progress-flutter {
  background: #54c5f8;
  width: 85%;
}

.progress-react {
  background: #61dafb;
  width: 90%;
} */
